<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    {{>header}}
    <!-- Mobile Menu end -->
    <div class="breadcome-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcome-list">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="breadcomb-wp">
                                    <div class="breadcomb-icon">
                                        <i class="icon nalika-home"></i>
                                    </div>
                                    <div class="breadcomb-ctn">
                                        <h2>Account Activation</h2>
                                        <label class="label bg-green">Rejoin Or Upgrade<i class="fa fa-level-up"
                                                aria-hidden="true"></i></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="breadcomb-report">
                                    <button data-toggle="tooltip" data-placement="left" title="Download Report"
                                        class="btn"><i class="icon nalika-download"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="product-new-list-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="single-new-trend mg-t-30">
                        <a href="#"><img src="img/notification/1.png" alt=""></a>
                        <div class="overlay-content">
                            <a href="#">
                                <h2>$35</h2>
                            </a>
                            <a href="#" class="btn-small bg-green" id="p35">Activate</a>
                            <a class="btn-small">MonoPack</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="single-new-trend mg-t-30">
                        <a href="#"><img src="img/notification/2.png" alt=""></a>
                        <div class="overlay-content">
                            <a href="#">
                                <h2>$150</h2>
                            </a>
                            <a href="" class="btn-small bg-green ">Activate</a>
                            <!-- <a href="#" class="btn-small">MonoPro</a> -->
                            <!-- <div class="product-action">
                                    <ul>
                                        <li>
                                            <a data-toggle="tooltip" title="Rejoin" href="#" class="bg-green"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a data-toggle="tooltip" title="Upgrade" href="#" class="bg-blue"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div> -->


                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="single-new-trend mg-t-30">
                        <a href="#"><img src="img/notification/3.png" alt=""></a>
                        <div class="overlay-content">
                            <a href="#">
                                <h2>$300</h2>
                            </a>
                            <a href="" class="btn-small bg-green ">Activate</a>
                            <!-- <a href="#" class="btn-small">MonoSilver</a> -->
                            <!-- <div class="product-action">
                                    <ul>
                                        <li>
                                            <a data-toggle="tooltip" title="Rejoin" href="#" class="bg-green"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a data-toggle="tooltip" title="Upgrade" href="#" class="bg-blue"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div> -->


                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="single-new-trend mg-t-30">
                        <a href="#"><img src="img/notification/4.png" alt=""></a>
                        <div class="overlay-content">
                            <a href="#">
                                <h2>$500</h2>
                            </a>
                            <a href="" class="btn-small bg-green ">Activate</a>
                            <!-- <a href="#" class="btn-small">MonoGold</a>  -->
                            <!-- <div class="product-action">
                                    <ul>
                                        <li>
                                            <a data-toggle="tooltip" title="Rejoin" href="#" class="bg-green"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a data-toggle="tooltip" title="Upgrade" href="#" class="bg-blue"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div> -->


                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="single-new-trend mg-t-30">
                        <a href="#"><img src="img/notification/5.png" alt=""></a>
                        <div class="overlay-content">
                            <a href="#">
                                <h2>$1000</h2>
                            </a>
                            <a href="" class="btn-small bg-green ">Activate</a>
                            <!-- <a href="#" class="btn-small">MonoDiamond</a>  -->
                            <!-- <div class="product-action">
                                    <ul>
                                        <li>
                                            <a data-toggle="tooltip" title="Rejoin" href="#" class="bg-green"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a data-toggle="tooltip" title="Upgrade" href="#" class="bg-blue"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div> -->


                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="single-new-trend mg-t-30">
                        <a href="#"><img src="img/notification/6.png" alt=""></a>
                        <div class="overlay-content">
                            <a href="#">
                                <h2>$2000</h2>
                            </a>
                            <a href="" class="btn-small bg-green ">Activate</a>
                            <!-- <a href="#" class="btn-small">MonoStar</a>  -->
                            <div class="product-action">
                                <!-- <a href="" class="btn bg-green ">Select</a> -->
                                <!-- <ul>
                                        <li>
                                            <a data-toggle="tooltip" title="Rejoin" href="#" class="bg-green"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                        </li>
                                    <li>
                                            <a data-toggle="tooltip" title="Upgrade" href="#" class="bg-blue"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
                                        </li> 
                                      
                                    </ul> -->
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="single-new-trend mg-t-30">
                        <a href="#"><img src="img/notification/7.png" alt=""></a>
                        <div class="overlay-content">
                            <a href="#">
                                <h2>$3000</h2>
                            </a>
                            <a href="" class="btn-small bg-green ">Activate</a>
                            <!-- <a href="#" class="btn-small">Monostar Pro</a>  -->
                            <!-- <div class="product-action">
                                    <ul>
                                        <li>
                                            <a data-toggle="tooltip" title="Rejoin" href="#" class="bg-green"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a data-toggle="tooltip" title="Upgrade" href="#" class="bg-blue"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div> -->


                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 office-pad-bottom">
                    <div class="single-new-trend mg-t-30">
                        <a href="#"><img src="img/notification/8.png" alt=""></a>
                        <div class="overlay-content">
                            <a href="#">
                                <h2>$4000</h2>
                            </a>
                            <a href="" class="btn-small bg-green ">Activate</a>
                            <!-- <a href="#" class="btn-small">MonoStar Ultimate</a>  -->
                            <!-- <div class="product-action">
                                    <ul>
                                        <li>
                                            <a data-toggle="tooltip" title="Rejoin" href="#" class="bg-green"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a data-toggle="tooltip" title="Upgrade" href="#" class="bg-blue"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div>
                        -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {{>footer}}
    </div>