
<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    {{>header}}
            <!-- Mobile Menu end -->
             <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class="breadcomb-wp">
                                            <div class="breadcomb-icon">
                                                <i class="icon nalika-home"></i>
                                            </div>
                                            <div class="breadcomb-ctn">
                                                <h2>Admin Management</h2>
                                            <!--    <p>Welcome to Nalika <span class="bread-ntd">Admin Template</span></p> -->
                                                  <label class="label bg-green">Verified</label>
                                                     <p class="font-white text-bolder hideAtBig"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class="breadcomb-report">
                                          <!--   <button data-toggle="tooltip" data-placement="left" title="Download Report" class="btn"><i class="icon nalika-download"></i></button> -->
                                          <!-- <p class="font-white text-bolder hideAtSmall">Add Sub Admin</p> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      <div class="row container-fluid">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline12-list">
                            <!-- <div class="sparkline12-hd">
                                <div class="main-sparkline12-hd">
                                    <h1>All Form Element</h1>
                                </div>
                            </div> -->
                            <div class="sparkline12-graph">
                                <div class="basic-login-form-ad">
                                    <div class="row">
                                        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-sm-12 col-xs-12">
                                            <div class="all-form-element-inner">
                                                <form action="#">
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro font-white">Email</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input id="emailAdminAdd" style="color: white; padding: 10px; border-color: white;" type="text" class="form-control" required/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro font-white">Administrator Priviledges</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <div class="bt-df-checkbox adminCheck">
                                                                    <input class="pull-left privi" type="checkbox" data-privi="home" required><label class="font-white">&nbsp Home</label>
                                                                </div>
                                                                <div class="bt-df-checkbox adminCheck">
                                                                    <input class="pull-left privi" type="checkbox" data-privi="tree"><label class="font-white">&nbsp Tree View</label>
                                                                </div>
                                                                <div class="bt-df-checkbox adminCheck">
                                                                    <input class="pull-left privi" type="checkbox" data-privi="register"><label class="font-white">&nbsp Register</label>
                                                                </div>
                                                                <div class="bt-df-checkbox adminCheck">
                                                                    <input class="pull-left privi" type="checkbox" data-privi="cart"><label class="font-white">&nbsp Cart</label>
                                                                </div>
                                                                <div class="bt-df-checkbox adminCheck">
                                                                    <input class="pull-left privi" type="checkbox" data-privi="settings"><label class="font-white">&nbsp Profile settings</label>
                                                                </div>
                                                                <div class="bt-df-checkbox adminCheck">
                                                                    <input class="pull-left privi" type="checkbox" data-privi="cashoutRequest"><label class="font-white">&nbsp Cashout Request</label>
                                                                </div>
                                                                <div class="bt-df-checkbox adminCheck">
                                                                    <input class="pull-left privi" type="checkbox" data-privi="websiteSettings"><label class="font-white">&nbsp Website Settings</label>
                                                                </div>
                                                                <div class="bt-df-checkbox adminCheck">
                                                                    <input class="pull-left privi" type="checkbox" data-privi="activateMember"><label class="font-white">&nbsp Activate Member</label>
                                                                </div>
                                                                <!-- <div class="bt-df-checkbox adminCheck">
                                                                    <input class="pull-left privi" type="checkbox" data-privi=""><label class="font-white">&nbsp System Management</label>
                                                                </div> -->
                                                                <div class="bt-df-checkbox adminCheck">
                                                                    <input class="pull-left privi" type="checkbox" data-privi="incomeReports"><label class="font-white">&nbsp Income Reports</label>
                                                                </div>
                                                                <div class="bt-df-checkbox adminCheck">
                                                                    <input class="pull-left privi" type="checkbox" data-privi="composeMessage"><label class="font-white">&nbsp Compose Message</label>
                                                                </div>
                                                                <div class="bt-df-checkbox">
                                                                    <input id="all" class="pull-left" type="checkbox" data-privi=""><label class="font-white">&nbsp All</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                               <!--  <label class="login2 pull-right pull-right-pro font-white">Administrator Priviledges</label> -->
                                                            </div>
                                                               <!-- <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                    <div class="bt-df-checkbox adminCheck">
                                                                        <input class="pull-left privi" type="checkbox" data-privi="">
                                                                    </div>
                                                                </div>
 -->                                                        </div>
                                                        <div class="form-group-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3 col-md-9 col-sm-9 col-xs-9">
                                                              <!--       <label class="login2 pull-right pull-right-pro"><span class="basic-ds-n font-white">Bootstrap</span> Default Radio</label> -->
                                                                </div>
                                                                <div class="col-lg-9 col-md-3 col-sm-3 col-xs-3">
                                                            <!--         <div class="bt-df-checkbox adminCheck">
                                                                        <input class="pull-left privi radio-checked" type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios">
                                                                        <label class="font-white">Enabled</label>
                                                                        <input class="pull-left privi" type="radio" value="option2" id="optionsRadios2" name="optionsRadios">
                                                                        <label class="font-white">Disabled</label>
                                                                    </div> -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                     
                                                    <button style="color: white; font-size: large; font-weight: bolder; width: 65%;" id="sendMsgBtn" type="button" class="btn btn-ctl-bt m-r-10 col-12 bg-green" >Update </button>

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
     <!--    mall -->
      

   {{>footer}}
    </div>
 