

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

     {{>header}}
            <!-- Mobile Menu end -->
          <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class="breadcomb-wp">
                                            <div class="breadcomb-icon">
                                                <i class="icon nalika-home"></i>
                                            </div>
                                            <div class="breadcomb-ctn">
                                                <h2>Become A Consultant</h2>
                                               <!--  <p>Welcome to Nalika <span class="bread-ntd">Admin Template</span></p> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                      <!--   <div class="breadcomb-report">
                                            <button data-toggle="tooltip" data-placement="left" title="Download Report" class="btn"><i class="icon nalika-download"></i></button>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          <div class="single-product-tab-area mg-t-0 mg-b-30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="single-product-pr">
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                    <div id="myTabContent1" class="tab-content">
                                        <div class="product-tab-list tab-pane fade active in" id="single-tab1">
                                            <img src="img/notification/consultant.jpg" alt="" class="img img-rounded" />
                                        </div>
                                  <!--       <div class="product-tab-list tab-pane fade" id="single-tab2">
                                            <img src="img/product/bg-2.jpg" alt="" />
                                        </div>
                                        <div class="product-tab-list tab-pane fade" id="single-tab3">
                                            <img src="img/product/bg-3.jpg" alt="" />
                                        </div>
                                        <div class="product-tab-list tab-pane fade" id="single-tab4">
                                            <img src="img/product/bg-1.jpg" alt="" />
                                        </div>
                                        <div class="product-tab-list tab-pane fade" id="single-tab5">
                                            <img src="img/product/bg-2.jpg" alt="" />
                                        </div> -->
                                    </div>
                              <!--       <ul id="single-product-tab">
                                        <li class="active">
                                            <a href="#single-tab1"><img src="img/product/1.jpg" alt="" /></a>
                                        </li>
                                        <li>
                                            <a href="#single-tab2"><img src="img/product/2.jpg" alt="" /></a>
                                        </li>
                                        <li>
                                            <a href="#single-tab3"><img src="img/product/3.jpg" alt="" /></a>
                                        </li>
                                        <li>
                                            <a href="#single-tab4"><img src="img/product/1.jpg" alt="" /></a>
                                        </li>
                                    </ul> -->
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                     <div class="row">
                                         <div >
                                            <div class="form-radio ">
                                                 <form class="text-large-form">
                                                    <div class="radio radiofill">
                                                     <label >
                                                         <input type="radio" name="radio"><i class="helper"></i>Earn commisions,bonuses,giveaways when you make conversions
                                                    </label>
                                                     </div>
                                                    <div class="radio radiofill">
                                                    <label>
                                                     <input type="radio" name="radio"><i class="helper"></i>Get free trainings and updates to help you sell better
                                                    </label>
                                                    </div>
                                                    <div class="radio radiofill">
                                                      <label>
                                                     <input type="radio" name="radio"><i class="helper"></i>Gain recognitions and rewards when you exceed your sales target
                                                    </label>
                                                    </div>
                                                      <div class="radio radiofill">
                                                      <label>
                                                     <input type="radio" name="radio"><i class="helper"></i>Enjoy freebies such as free LANDS and all expense paid trips
                                                    </label>
                                                    </div>
                                                      <div class="radio radiofill">
                                                      <label>
                                                     <input type="radio" name="radio"><i class="helper"></i>Own a business and enjoy time freedom
                                                    </label>
                                                    </div>
                                                     </form>
                                                        </div>
                                                    </div>
                                                                        
                                                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="login-form-area adminpro-pd mg-tb-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="tab-content-details shadow-reset bg-green">
                            <h2>How It Works</h2>
                            <p class="font-white">When you sell any of our existing properties as a sales consultant, we pay you due commissions. You can also earn by referring prospective clients to purchase properties and by referring individuals to sell our properties</p>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
     <!--    mall -->
      

     {{>footer}}
    </div>
   