

<body>
    <!-- [if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif] -->

    {{>header}}
            <!-- Mobile Menu end -->
            <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class="breadcomb-wp">
											<div class="breadcomb-icon">
												<i class="icon nalika-home"></i>
											</div>
											<div class="breadcomb-ctn">
												<h2>Administrator Backoffice</h2>
											<!-- 	<p>Welcome to Nalika <span class="bread-ntd">Admin Template</span></p> -->
                                                  <label class="label bg-green">Super Admin<i class="fa fa-level-up" aria-hidden="true"></i></label>
											</div>
										</div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <!-- <div class="breadcomb-report">
											<button data-toggle="tooltip" data-placement="left" title="Download Report" class="btn"><i class="icon nalika-download"></i></button>
										</div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="section-admin container-fluid">
            <div class="row admin text-center">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group form-inline">
                       <input type="text" id="referralLink" class="form-control flex-fill linkBorder" value="http://localhost:8001/register?ref=pfx834609" readonly />
                      </div>
                         
                

                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="margin-bottom:1px;">
                             <button type="button" id="copyReferralLink" class="btn btn-success btn-block">Copy Referral Link</button>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                           <a  href="https://t.me/joinchat/JnDoO00zgCHUrAeagjd6fA" class="btn btn-info btn-block">Join Us On Telegram</a>
                        </div>
                  
                    </div>
                </div>
            </div>
        </div>
      -->
        <div class="traffic-analysis-area">
            <div class="container-fluid">
              <section>
                    <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="white-box tranffic-als-inner  box-height">
                            <h5 class="box-title font-white"> Total Members </h5>

                            <hr class="hr">
                            <div class="stats-row">
                              <h4 class="font-white">175 </h4>
                              
                            </div>

                          <!--   <div id="sparkline8">175</div> -->
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                      <div class="white-box tranffic-als-inner bg-green box-height">
                            <h3 class="smallTitle">Total Revenue Received (Credit)</h3>
                            <hr class="hr">
                            <div class="stats-row">
                              <h4 class="font-white"><span>&#36;</span> 175,00,00</h4>
                              
                            </div>
                          <!--   <div id="sparkline8">175</div> -->
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                       <div class="tranffic-als-inner bg-brown box-height">
                            <h3 class="smallTitle">Total Cash Payout (Debit)</h3>
                            <hr class="hr">
                                <div class="stats-row">
                              <h4 class="font-white"><span>&#36;</span> 175,00,00</h4>
                              
                            </div>
                          <!--   <div id="sparkline8">175</div> -->
                        </div>
                    </div>
                    
                </div>
              </section>

                     <section>
                    <div class="row office-pad-top">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="white-box tranffic-als-inner bg-green  box-height">
                            <h5 class="box-title font-white"> Affiliate Cash Out Request</h5>

                            <hr class="hr">
                            <div class="stats-row">
                              <h4 class="font-white"><span>&#36;</span>175 </h4>
                              
                            </div>

                          <!--   <div id="sparkline8">175</div> -->
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                      <div class="white-box tranffic-als-inner bg-green box-height">
                            <h3 class="smallTitle">Commission Paid Out</h3>
                            <hr class="hr">
                            <div class="stats-row">
                              <h4 class="font-white"><span>&#36;</span> 175,00,00</h4>
                              
                            </div>
                          <!--   <div id="sparkline8">175</div> -->
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                       <div class="tranffic-als-inner bg-green box-height">
                            <h3 class="smallTitle">Auto Upgrade Balance</h3>
                            <hr class="hr">
                                <div class="stats-row">
                              <h4 class="font-white"><span>&#36;</span> 175,00,00</h4>
                              
                            </div>
                          <!--   <div id="sparkline8">175</div> -->
                        </div>
                    </div>
                    
                </div>
              </section>

              <section>
                <div class="row office-pad-top">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="white-box tranffic-als-inner  box-height">
                        <h5 class="box-title font-white"> Incentive Cash Balance</h5>

                        <hr class="hr">
                        <div class="stats-row">
                          <h4 class="font-white"><span>&#36;</span>175 </h4>
                          
                        </div>

                      <!--   <div id="sparkline8">175</div> -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <div class="white-box tranffic-als-inner bg-green box-height">
                        <h3 class="smallTitle">Land Purchase Balance</h3>
                        <hr class="hr">
                        <div class="stats-row">
                          <h4 class="font-white"><span>&#36;</span> 175,00,00</h4>
                          
                        </div>
                      <!--   <div id="sparkline8">175</div> -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                   <div class="tranffic-als-inner bg-brown box-height">
                        <h3 class="smallTitle">Property Trading Pool Balance</h3>
                        <hr class="hr">
                            <div class="stats-row">
                          <h4 class="font-white"><span>&#36;</span> 175,00,00</h4>
                          
                        </div>
                      <!--   <div id="sparkline8">175</div> -->
                    </div>
                </div>
                
            </div>
          </section>
              <!--   Next row -->


            </div>
        </div>
    
        <!-- <div class="section-admin container-fluid res-mg-t-15 office-pad-top">
            <div class="row admin text-center">
                <div class="col-md-12">
                    <div class="row">
     <p>Table Here</p>
               
                    </div>
                </div>
            </div>
        </div> -->

         <div class="section-admin container-fluid res-mg-t-15 office-pad-top">
            <div class="row admin text-center">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                    
                        <div class="product-list-cart">
                            <div class="product-status-wrap border-pdt-ct table-responsive">                                  
                                    <table style="width:100%" class="table table-borderless ">
                                        <br>
                                        <h4>New Registrations</h4>
                                        <tr>
                                            <th>#</th>
                                            <!-- <th>Image</th> -->
                                            <th></th>
                                            <th>Username</th>
                                            <th>Full name</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Date Of Joining</th>
                                    
                                        </tr>
                                        <tbody id="CashOutRequestDom">
                                            <tr> 
                                               <td style="text-align: center; position: absolute; left: 35%;"> 
                                                    Fetching Newly Registered Members, Please wait ...
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div id="pagination" class="custom-pagination">
                                        <ul class="pagination" style="float: right;">
                                            <li id="prev-page" class="page-item"><a class="page-link" id="prev-page-a" style="border: 1px solid tomato; cursor: pointer;">Prev</a></li>
                                            <!-- <li data-tab="tab-1" class="page-item"><a class="page-link" id="tab-1">1</a></li>
                                            <li data-tab="tab-2" class="page-item"><a class="page-link" id="tab-2">2</a></li>
                                            <li data-tab="tab-3" class="page-item"><a class="page-link" id="tab-3">3</a></li> -->
                                            <li id="next-page" class="page-item"><a class="page-link" id="next-page-a" style="border: 1px solid lightgreen; border-left: 0px; cursor: pointer;">
                                               Next
                                            </a></li>
                                        </ul>
                                    </div>
                            </div>
                        </div>
   
                             
                     
              
                    </div>
                </div>
            </div>
        </div>

{{>footer}}
    </div>
 