

<body class="myContainer">
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

     {{>header}}
            <!-- Mobile Menu end -->
            <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list">
                                <div class="row" >
                                
                                         <div class="breadcomb-wp">
                                            <!-- <div class="breadcomb-icon">
                                                <i class="icon nalika-home"></i>
                                            </div> -->
                                            <div class="breadcomb-ctn row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                           
                                                    <h2>Mail Inbox</h2>
                                          
                                            </div>
                                            <form role="search" class="">
                                                <input type="text" placeholder="Search By Username" class="form-control">
                                                
                                                
                                            </form>
                                        </div>
                                
                              
                                </div>
                                    <!-- <div class="breadcome-heading" style="float: right;">
                                    <form role="search" class="">
                                        <input type="text" placeholder="Search By Username" class="form-control">
                                        
                                        
                                    </form>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu end -->
            <div class="mailbox-area mg-tb-15">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="hpanel responsive-mg-b-30">
                                <div class="panel-body">
    
                                    <ul class="mailbox-list ">
                                        <li><button class="font-white btn btn-group" style="text-align: center;background-color: red;">Compose Mail</button></li>
                                        <li class="active">
                                            
                                            <a href="#">
                                                    <span class="pull-right">12</span>
                                                    <i class="fa fa-envelope"></i> Inbox
                                                </a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-paper-plane"></i> Sent</a>
                                        </li>
                                   
                                        <li>
                                            <a href="#"><i class="fa fa-trash"></i> Trash</a>
                                        </li>
                                    </ul>
                                    <hr>
                                    <ul class="mailbox-list">
                              
                                    </ul>
                                   
                                    <ul class="mailbox-list">
                                    
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 col-md-9 col-sm-9 col-xs-12">
                            <div class="hpanel mg-b-15">
                                <div class="panel-heading hbuilt mailbox-hd">
                                    <div class="text-center p-xs font-normal">
                                        <div class="input-group">
                                            <input type="text" class="form-control input-sm" placeholder="Search email in your inbox..."> <span class="input-group-btn"> <button type="button" class="btn btn-sm btn-default">Search
                                                </button> </span></div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6 col-md-6 col-sm-6 col-xs-12 mg-b-15">
                                            <div class="btn-group">
                                                <button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i> Refresh</button>
                                                <button class="btn btn-default btn-sm"><i class="fa fa-eye"></i></button>
                                                <button class="btn btn-default btn-sm"><i class="fa fa-exclamation"></i></button>
                                                <button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                                                <button class="btn btn-default btn-sm"><i class="fa fa-check"></i></button>
                                                <button class="btn btn-default btn-sm"><i class="fa fa-tag"></i></button>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-md-6 col-sm-6 col-xs-12 mailbox-pagination mg-b-15">
                                            <div class="btn-group">
                                                <button class="btn btn-default btn-sm"><i class="fa fa-arrow-left"></i></button>
                                                <button class="btn btn-default btn-sm"><i class="fa fa-arrow-right"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-hover table-mailbox">
                                            <tbody>
                                           
                                                    <td class="unread">
                                                        <div class="checkbox">
                                                            <input type="checkbox">
                                                            <label></label>
                                                        </div>
                                                    </td>
                                                    <td><a href="#">Brent Rasmussen</a></td>
                                                    <td><a href="#">Nam nec turpis sed quam tristique sodales.</a></td>
                                                    <td></td>
                                                    <td class="text-right mail-date">Sun, Nov 15</td>
                                                </tr>
                                                <tr class="unread">
                                                    <td class="">
                                                        <div class="checkbox checkbox-single checkbox-success">
                                                            <input type="checkbox" checked>
                                                            <label></label>
                                                        </div>
                                                    </td>
                                                    <td><a href="#">Joseph Hurley</a></td>
                                                    <td><a href="#">Nullam tempus leo id urna sagittis blandit.</a></td>
                                                    <td><i class="fa fa-paperclip"></i></td>
                                                    <td class="text-right mail-date">Sun, Aug 10</td>
                                                </tr>
                                                <tr>
                                                    <td class="">
                                                        <div class="checkbox">
                                                            <input type="checkbox">
                                                            <label></label>
                                                        </div>
                                                    </td>
                                                    <td><a href="#">Alan Matthews</a></td>
                                                    <td><a href="#">Quisque quis turpis ac quam sagittis scelerisque vel ut
                                                            urna.</a></td>
                                                    <td></td>
                                                    <td class="text-right mail-date">Sun, Mar 27</td>
                                                </tr>
                                                <tr class="active">
                                                    <td class="">
                                                        <div class="checkbox">
                                                            <input type="checkbox">
                                                            <label></label>
                                                        </div>
                                                    </td>
                                                    <td><a href="#">Colby Lynch</a> <span class="label label-danger">Travel</span></td>
                                                    <td><a href="#">Donec non enim pulvinar, ultrices metus eget, condimentum
                                                            mi.</a></td>
                                                    <td></td>
                                                    <td class="text-right mail-date">Thu, Dec 31</td>
                                                </tr>
                                                <tr class="unread ">
                                                    <td class="">
                                                        <div class="checkbox checkbox-single checkbox-success">
                                                            <input type="checkbox" checked>
                                                            <label></label>
                                                        </div>
                                                    </td>
                                                    <td><a href="#">Jeremy Massey</a></td>
                                                    <td><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                                                    </td>
                                                    <td><i class="fa fa-paperclip"></i></td>
                                                    <td class="text-right mail-date">Tue, Nov 25</td>
                                                </tr>
                                          
                                             
                                            
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <i class="fa fa-eye"> </i> 6 unread
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    {{>footer}}
    </div>
   