

<body class="myContainer">
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

     {{>header}}
            <!-- Mobile Menu end -->
            <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list">
                                <div class="row" >
                                
                                         <div class="breadcomb-wp">
                                            <!-- <div class="breadcomb-icon">
                                                <i class="icon nalika-home"></i>
                                            </div> -->
                                            <div class="breadcomb-ctn row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                           
                                                    <h2>Manage Documents</h2>
                                          
                                            </div>
                                      
                                        </div>
                                
                              
                                </div>
                                    <!-- <div class="breadcome-heading" style="float: right;">
                                    <form role="search" class="">
                                        <input type="text" placeholder="Search By Username" class="form-control">
                                        
                                        
                                    </form>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu end -->
<div class="single-product-tab-area mg-b-30">
            <!-- Single pro tab review Start-->
            <div class="single-pro-review-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="review-tab-pro-inner">
                          
                                <div id="myTabContent" class="tab-content custom-product-edit">
                                    <div class="product-tab-list tab-pane fade active in" id="notification">
                                 
                                        <div class="row container-fluid">
                                         
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
                                                    
                                                    <div class="review-content-section">
                                                        <img id="imgPreviewDoc" class="kycImage" id="kycImage" style="width: 30%;" class="editUserSelfie" src="img/notification/file.png" alt="camera" /><br>
                                                   
                                                        <div class="form-group">
                                                      
                                                            <input id="titleDoc" name="titleDoc" type="text" class="form-control" placeholder="Document Name">
                                                        </div>
                                                     
                                                          <div class="text-center custom-pro-edt-ds office-pad-bottom">
                                                          <input id="uploadSelfieInputDoc" type="file" class="form-control"/>
                                                    </div>
                                                    </div>
                                                    <div class="text-center custom-pro-edt-ds bottom-pad-button">
                                                        <button id="addBtnDoc" type="button" class="btn addBtnDoc btn-ctl-bt waves-effect waves-light m-r-10 bg-green" >Upload 
                                                            </button>
                                                    </div>
                                                </div>
                                              
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
                                               
                                                    <div class="review-content-section">
                                                        <img id="imgPreviewUser" class="kycImage" id="kycImage imgPreviewDoc" style="width: 30%;" class="editUserSelfie" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Placeholder_no_text.svg/768px-Placeholder_no_text.svg.png" alt="camera" /><br>
                                                   
                                               
                                                        <div class="form-group">
                                                      
                                                            <input id="titleUser" name="cvc" type="text" class="form-control" placeholder="image name">
                                                        </div>
                                                     
                                                          <div class="text-center custom-pro-edt-ds office-pad-bottom">
                                                          <input id="uploadSelfieInputUser" type="file" class="form-control"/>
                                                    </div>
                                                    </div>
                                                    <div class="text-center custom-pro-edt-ds bottom-pad-button">
                                                        <button id="addBtnDoc" type="button" class="btn addBtnDoc btn-ctl-bt waves-effect waves-light m-r-10 bg-green" >Upload   
                                                            </button>
                                                    </div>
                                                </div>
                                                <div class="text-center custom-pro-edt-ds bottom-pad-button">
                                                        <style>
                                                            #uploadSelfieBtn {
                                                                visibility: hidden;
                                                            }
                                                        </style>
                                                        <button id="uploadSelfieBtn" type="button" class="btn btn-ctl-bt waves-effect waves-light m-r-10 bg-green" >Upload Selfie
                                                        </button>
                                              
                                                </div>
                                           
                                        </div>
                             
                                    </div>
                               
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-status mg-b-30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-status-wrap">
                         
                            <div class="breadcome-heading">
                                <form role="search" class="">
                                    <input type="text" placeholder="Search..." class="form-control">
                                  
                                </form>
                            </div>
                            <table id="dom-input-doc">
                                <tr>
                                    <th>#</th>
                                    <th>Title</th>
                                    <th>Document</th>
                                    <th>Size</th>
                                    <th>Upload Date</th>
                                    <th>View</th>
                                    <th>Operations</th>
                                </tr>
                          
                                    <tr>
                                        <td>1</td>
                                            <td>Product Title 1</td>
                                            <td>
                                            <p>  info.pdf</p>
                                            </td>
                                            <td>500kb</td>
                                            <td>15/07/2020</td>
                                            <td><img src="img/new-product/5-small.jpg" alt="" /></td>
                                        
                                            <td>
                                                <button data-del="${x._id}" data-toggle="tooltip" title="Trash" class="pd-setting-ed delCartSel"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                            </td>
                                    </tr>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {{>footer}}
    </div>
   