

<body class="myContainer">
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

     {{>header}}
            <!-- Mobile Menu end -->
            <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list">
                                <div class="row" >
                                
                                         <div class="breadcomb-wp">
                                            <!-- <div class="breadcomb-icon">
                                                <i class="icon nalika-home"></i>
                                            </div> -->
                                            <div class="breadcomb-ctn row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                           
                                                    <h2>Add Notifications</h2>
                                          
                                            </div>
                                      
                                        </div>
                                
                              
                                </div>
                                    <!-- <div class="breadcome-heading" style="float: right;">
                                    <form role="search" class="">
                                        <input type="text" placeholder="Search By Username" class="form-control">
                                        
                                        
                                    </form>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu end -->
<div class="single-product-tab-area mg-b-30">
            <!-- Single pro tab review Start-->
            <div class="single-pro-review-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="review-tab-pro-inner">
                          
                                <div id="myTabContent" class="tab-content custom-product-edit">
                                    <div class="product-tab-list tab-pane fade active in" id="notification">
                                 
                                        <div class="row container">
                                            <div class="col-lg-1 col-md-1"></div>
                                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                                <div class="review-content-section">
                                                    <div class="demo-container">
                                                        <div class="card-wrapper"></div>
                                                        <form id="addNotification" class="payment-form mg-t-30 form-border-input-show text-white-label ">
                                                      
                                                            <div class="form-group">
                                                                <label for="email">Title</label>
                                                                <input name="title" type="text" class="form-control" placeholder="">
                                                            </div>
                                                         
                                                            <div class="form-group">
                                                                <label for="email">Content</label>
                                                              
                                                                    <textarea name="content" class="form-control" type='text'
                                                                    ></textarea>
                                                            </div>
    
                                                            <div class="text-center credit-card-custom office-pad-bottom">
                                                                <!--      <a href="#!" class="btn bg-btn-cl waves-effect waves-light btn-primary">Submit</a> -->
                                                                <button id="addBtn" type="submit" class="btn btn-success btn-block ">Add Notification</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-1 col-md-1"></div>
                                        </div>
                             
                                    </div>
                               
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {{>footer}}
    </div>
   