

<body class="myContainer">
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

         {{>header}}
            <!-- Mobile Menu end -->
             <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class="breadcomb-wp">
                                            <div class="breadcomb-icon">
                                                <i class="icon nalika-home"></i>
                                            </div>
                                            <div class="breadcomb-ctn">
                                                <h2>Register New Members</h2>
                                            <!--    <p>Welcome to Nalika <span class="bread-ntd">Admin Template</span></p> -->
                                                  <label class="label bg-green">Super Admin<i class="fa fa-level-up" aria-hidden="true"></i></label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class="breadcomb-report">
                                            <button data-toggle="tooltip" data-placement="left" title="Download Report" class="btn"><i class="icon nalika-download"></i></button>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<div class="single-product-tab-area mg-b-30">
            <!-- Single pro tab review Start-->
            <div class="single-pro-review-area">
                <div class="container-fluid">
          
                    <div class="row">
                 
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="review-tab-pro-inner">
                         
                                <div id="myTabContent" class="tab-content custom-product-edit">
                                    <div class="product-tab-list tab-pane fade active in" id="description">
                             
                                               <!-- <div class="row">
                                            <label class="login2 pull-right pull-right-pro">Select</label>
                                        </div> -->
                                  
                                            <div class="input-group mg-b-pro-edt" style="width: 100%;">
                                                <!-- <span class="input-group-addon"><i class="icon nalika-picture" aria-hidden="true"></i></span> -->
                                                <select id="regUserPackage" class="form-control custom-select-value" name="account" >
                                                    <option value="#">Select Packages</option>
                                                    <option value="1">Mono pack</option>
                                                    <option value="2">Mono pro</option>
                                                    <option value="3">Mono silver</option>
                                                    <option value="4">Mono gold</option>
                                                    <option value="5">Mono diamond</option>
                                                    <option value="6">Mono star</option>
                                                    <option value="7">Monostar pro</option>
                                                    <option value="8">Monostar ultimate</option>
                                                </select>
                                            </div>
                                            <!-- <div class="form-select-list">
                                                <select class="form-control custom-select-value" name="account">
                                                        <option>Select 1</option>
                                                        <option>Select 2</option>
                                                        <option>Select 3</option>
                                                        <option>Select 4</option>
                                                    </select>
                                            </div> -->
                                     
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="review-content-section">
                                                    <label>Referral User Id</label>
                                                    <div class="input-group mg-b-pro-edt">
                                                      <span class="input-group-addon"><i class="icon nalika-picture" aria-hidden="true"></i></span>
                                                      <input id="referralUserId" type="text" class="form-control" placeholder="">
                                                  </div>
                                                    <label>First Name</label>
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="icon nalika-cloud" aria-hidden="true"></i></span>
                                                        <input id="regFirstName" type="text" class="form-control" placeholder="">
                                                    </div>
                                                    <label>Email</label>
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="icon nalika-picture" aria-hidden="true"></i></span>
                                                        <input id="regUserEmail" type="text" class="form-control" placeholder="">
                                                    </div>
                                                     <label>Password</label>
                                                      <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="icon nalika-picture" aria-hidden="true"></i></span>
                                                        <input id="regUserPassword" type="text" class="form-control" placeholder="">
                                                    </div>
                                                 
                                            
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="review-content-section">
                                                    <label>Username</label>
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="icon nalika-team" aria-hidden="true"></i></span>
                                                        <input id="regUserName" type="text" class="form-control" placeholder="">
                                                    </div>
                                                    <label>Last Name</label>
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="icon nalika-edit" aria-hidden="true"></i></span>
                                                        <input id="regLastName" type="text" class="form-control" placeholder="">
                                                    </div>
                                                    <label>Phone</label>
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="icon nalika-tick" aria-hidden="true"></i></span>
                                                        <input id="regUserPhone" type="text" class="form-control" placeholder="">
                                                    </div>
                                                    <label>Confirm Password</label>
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="icon nalika-edit" aria-hidden="true"></i></span>
                                                        <input id="regUserConfirmPassword" type="text" class="form-control" placeholder="">
                                                    </div>
                                           
                                              
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="text-center custom-pro-edt-ds bottom-pad-button">
                                                    <button id="adminRegMemberBtn" type="button" class="btn btn-ctl-bt waves-effect waves-light m-r-10 " style="background-color: #03A9F4">Register User
                                                        </button>
                                                   <!--  <button type="button" class="btn btn-ctl-bt waves-effect waves-light">Discard
                                                        </button> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-tab-list tab-pane fade" id="reviews">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="review-content-section">
                                                    <label>Bank Name</label>
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="icon nalika-edit" aria-hidden="true"></i></span>
                                                        <input type="text" class="form-control" placeholder="">
                                                    </div>
                                                    <label>Bank Account</label>
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="icon nalika-edit" aria-hidden="true"></i></span>
                                                        <input type="text" class="form-control" placeholder="">
                                                    </div>
                                 
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="review-content-section">
                                                    <label>Account Name</label>
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="icon nalika-edit" aria-hidden="true"></i></span>
                                                        <input type="text" class="form-control" placeholder="">
                                                    </div>
                                                    <label>Account Type</label>
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="icon nalika-edit" aria-hidden="true"></i></span>
                                                       <!--  <input type="text" class="form-control" placeholder=""> -->
                                                        <select name="cars" id="cars" class="form-control">
  <option value="savings">Savings</option>
  <option value="currnet">Current</option>
  <option value="fixed">Fixed</option>
 
</select>
                                                    </div>

                                                </div>
                                            </div>

                                          <!--   //here -->
                                                  <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="text-center custom-pro-edt-ds">
                                                    <button type="button" class="btn btn-ctl-bt waves-effect waves-light m-r-10 block" style="background-color: #03A9F4">Update
                                                        </button>
                                                   <!--  <button type="button" class="btn btn-ctl-bt waves-effect waves-light">Discard
                                                        </button> -->
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{{>footer}}
    </div>
  