

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

  {{>header}}
            <!-- Mobile Menu end -->
            <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class="breadcomb-wp">
											<div class="breadcomb-icon">
												<i class="icon nalika-home"></i>
											</div>
											<div class="breadcomb-ctn">
												<h2>Amazing Reward Plan</h2>
											<!-- 	<p>Welcome to Nalika <span class="bread-ntd">Admin Template</span></p> -->
                                                  <label class="label bg-green">Free Affiliate</label>
											</div>
										</div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class="breadcomb-report">
											<button data-toggle="tooltip" data-placement="left" title="Download Report" class="btn"><i class="icon nalika-download"></i></button>
										</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
      <div class="">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive" >
        <table style="width:100%" class="table table-borderless ">
  <tr class="office-bg">
    <th>Packages And Circles Reward</th>
    <th>Earnings And Incentives</th> 
    <th>Incentives</th>
   
  </tr>
  <tr>
    <td width="33.33%" >
     
        <div  style="display:inline">
            <img src='img/notification/mono1.png' class="img-responsive " width="225px">
        </div>
      
    
    </td>
    <td width='33.33%'>  <h4 style="color:#03A9F4;font-size: large;">
        Earn $175 
      </h4>
     <span  class="font-white">
    <i class='fa fa-check-circle'></i>
    Receive Cash $15 Circle 2
     </span><br>
    <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Receive Cash $21 Circle 3
    </span>
    <br>
    <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Receive Cash $40 Circle 4
    </span>
    <br>
    <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Receive Cash $40 Circle 5
    </span>
    <br>
    <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $60 Circle 5
    </span>
     <br>
     <br>
    <span class="font-white text-large" >
    <i class='fa fa-check-circle'></i>
   Total Earnings $175 
    </span>
    <h4 class="font-white office-pad-top" style="color: #03A9F4">Rejoin Or Upgrade to Next Level</h4>
  </td>
            
  <td width='33.33%'>  
    <span class="font-white">
    <i class='fa fa-check-circle'></i>
    1st Deposit of $30 to sign your land purchase agreement with our real estate partner 
    </span>
    <br>
     <span class="font-white">
    <i class='fa fa-check-circle'></i>
    Receive table top gas worth $30
    </span><br>
   <img src='img/notification/gas.png' class="img-responsive" width="225px" >
    </td> 
  
  </tr>
  <!-- second row -->
  <tr>
    <td width="33.33%" >
     
        <div  style="display:inline">
            <img src='img/notification/mono2.png' class="img-responsive " width="250px">
        </div>
      
    
    </td>
    <td width='33.33%'>  <h4 style="color:#03A9F4;font-size: large;">
        Earn $750
      </h4>
     <span  class="font-white">
    <i class='fa fa-check-circle'></i>
    Receive Cash $15 Circle 2
     </span><br>
    <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Receive Cash $21 Circle 3
    </span>
    <br>
    <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Receive Cash $40 Circle 4
    </span>
    <br>
    <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Receive Cash $40 Circle 5
    </span>
    <br>
    <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $60 Circle 5
    </span>
     <br>
       <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $150 Circle 6
    </span>
     <br>
       <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $424 Circle 6
    </span>
    <br><br>
    <span class="font-white text-large" >
    <i class='fa fa-check-circle'></i>
   Total Earnings $750
    </span>
    <h4 class="font-white office-pad-top" style="color: #03A9F4">Rejoin Or Upgrade to Next Level</h4>
  </td>
            
  <td width='33.33%'>  
    <span class="font-white">
    <i class='fa fa-check-circle'></i>
    Receive all incentives above from circle 1 to 5 plus
    </span>
    <br>
     <span class="font-white">
    <i class='fa fa-check-circle'></i>
    2nd deposit of $150 for land purchase with our real estate partner
    </span><br>
      <span class="font-white">
    <i class='fa fa-check-circle'></i>
    Receive deep freezer,heavy duty blender and grinder all worth $274
    </span>
   <img src='img/notification/deep.png' class="img-responsive" width="225px" >
    </td> 
  
  </tr>
<!--   third row -->
    <tr>
    <td width="33.33%" >
     
        <div  style="display:inline">
            <img src='img/notification/mono3.png' class="img-responsive " width="270px">
        </div>
      
    
    </td>
    <td width='33.33%'>  <h4 style="color:#03A9F4;font-size: large;">
        Earn $1500
      </h4>
     <span  class="font-white">
    <i class='fa fa-check-circle'></i>
    Receive Cash $15 Circle 2
     </span><br>
    <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Receive Cash $21 Circle 3
    </span>
    <br>
    <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Receive Cash $40 Circle 4
    </span>
    <br>
    <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Receive Cash $40 Circle 5
    </span>
    <br>
    <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $60 Circle 5
    </span>
     <br>
       <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $150 Circle 6
    </span>
     <br>
       <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $424 Circle 6
    </span>
    <br>
      <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $300 Circle 7
    </span>
    <br>
      <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $450 Circle 7
    </span>
    <br><br>
    <span class="font-white text-large" >
    <i class='fa fa-check-circle'></i>
   Total Earnings $1500
    </span>
    <h4 class="font-white office-pad-top" style="color: #03A9F4">Rejoin Or Upgrade to Next Level</h4>
  </td>
            
  <td width='33.33%'>  
    <span class="font-white">
    <i class='fa fa-check-circle'></i>
    Receive all incentives above from circle 1 to 6
    </span>
    <br>
     <span class="font-white">
    <i class='fa fa-check-circle'></i>
    3rd deposit of $200 for land purchase with our real estate partner
    </span><br>
      <span class="font-white">
    <i class='fa fa-check-circle'></i>
    Receive front washing machine worth $250
    </span>
   <img src='img/notification/wash.png' class="img-responsive" width="150px" >
    </td> 
  
  </tr>
<!--  fourth row -->
 <tr>
    <td width="33.33%" >
     
        <div  style="display:inline">
            <img src='img/notification/mono4.png' class="img-responsive " width="285px">
        </div>
      
    
    </td>
    <td width='33.33%'> 
     <h4 style="color:#03A9F4;font-size: large;">
        Earn $2500
      </h4>
     <span  class="font-white">
    <i class='fa fa-check-circle'></i>
    Receive Cash $15 Circle 2
     </span><br>
    <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Receive Cash $21 Circle 3
    </span>
    <br>
    <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Receive Cash $40 Circle 4
    </span>
    <br>
    <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Receive Cash $40 Circle 5
    </span>
    <br>
    <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $60 Circle 5
    </span>
     <br>
       <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $150 Circle 6
    </span>
     <br>
       <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $424 Circle 6
    </span>
    <br>
      <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $300 Circle 7
    </span>
    <br>
      <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $450 Circle 7
    </span>
    <br>
        <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Receive Cash $500 Circle 8
    </span>
    <br>
      <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $500 Circle 8
    </span>
    <br>
    <br>
    <span class="font-white text-large" >
    <i class='fa fa-check-circle'></i>
   Total Earnings $2500
    </span>
    <h4 class="font-white office-pad-top" style="color: #03A9F4">Rejoin Or Upgrade to Next Level</h4>
  </td>
            
  <td width='33.33%'>  
    <span class="font-white">
    <i class='fa fa-check-circle'></i>
    Receive all incentives above from circle 1 to 7
    </span>
    <br>
     <span class="font-white">
    <i class='fa fa-check-circle'></i>
    4th deposit of $200 for land purchase with our real estate partner
    </span><br>
      <span class="font-white">
    <i class='fa fa-check-circle'></i>
    Receive 1 generator set worth $300
    </span>
   <img src='img/notification/gen.png' class="img-responsive" width="200px" >
    </td> 
  
  </tr>
 <!--  fifth row -->
  <tr>
    <td width="33.33%">
     
        <div   class="vcenter">
            <img src='img/notification/mono5.png' class="img-responsive " width="300px">
        </div>
      
    
    </td>
    <td width='33.33%'> 
     <h4 style="color:#03A9F4;font-size: large;">
        Earn $5000
      </h4>
     <span  class="font-white">
    <i class='fa fa-check-circle'></i>
    Receive Cash $15 Circle 2
     </span><br>
    <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Receive Cash $21 Circle 3
    </span>
    <br>
    <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Receive Cash $40 Circle 4
    </span>
    <br>
    <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Receive Cash $40 Circle 5
    </span>
    <br>
    <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $60 Circle 5
    </span>
     <br>
       <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $150 Circle 6
    </span>
     <br>
       <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $424 Circle 6
    </span>
    <br>
      <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $300 Circle 7
    </span>
    <br>
      <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $450 Circle 7
    </span>
    <br>
        <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Receive Cash $500 Circle 8
    </span>
    <br>
      <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $500 Circle 8
    </span>
      <br>
      <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Receive Cash $1000 Circle 9
    </span>
      <br>
      <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $1500 Circle 9
    </span>
    <br>
    <br>
    <span class="font-white text-large" >
    <i class='fa fa-check-circle'></i>
   Total Earnings $5000
    </span>
    <h4 class="font-white office-pad-top" style="color: #03A9F4">Rejoin Or Upgrade to Next Level</h4>
  </td>
            
  <td width='33.33%'>  
    <span class="font-white">
    <i class='fa fa-check-circle'></i>
    Receive all incentives above from circle 1 to 8 plus
    </span>
    <br>
     <span class="font-white">
    <i class='fa fa-check-circle'></i>
    Final deposit of $1500 for land purchase and allocation of plots to affilaites by our real estate partner
    </span><br>
      <span class="font-white">
    <i class='fa fa-check-circle'></i>
    Receive 1 generator set worth $300
    </span>
   <img src='img/notification/plot.png' class="img-responsive" width="250px" >
    </td> 
  
  </tr>
<!--   sixth row -->
   <tr>
    <td width="33.33%">
     
        <div   class="vcenter">
            <img src='img/notification/mono6.png' class="img-responsive " width="315px">
        </div>
      
    
    </td>
    <td width='33.33%'> 
     <h4 style="color:#03A9F4;font-size: large;">
        Earn $10000
      </h4>
     <span  class="font-white">
    <i class='fa fa-check-circle'></i>
    Receive Cash $15 Circle 2
     </span><br>
    <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Receive Cash $21 Circle 3
    </span>
    <br>
    <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Receive Cash $40 Circle 4
    </span>
    <br>
    <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Receive Cash $40 Circle 5
    </span>
    <br>
    <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $60 Circle 5
    </span>
     <br>
       <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $150 Circle 6
    </span>
     <br>
       <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $424 Circle 6
    </span>
    <br>
      <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $300 Circle 7
    </span>
    <br>
      <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $450 Circle 7
    </span>
    <br>
        <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Receive Cash $500 Circle 8
    </span>
    <br>
      <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $500 Circle 8
    </span>
      <br>
      <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Receive Cash $1000 Circle 9
    </span>
      <br>
      <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Receive Cash $2000 Circle 10
    </span>
       <br>
      <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $3000 Circle 10
    </span>
    <br>
    <br>
    <span class="font-white text-large" >
    <i class='fa fa-check-circle'></i>
   Total Earnings $10000
    </span>
    <h4 class="font-white office-pad-top" style="color: #03A9F4">Rejoin Or Upgrade to Next Level</h4>
  </td>
            
  <td width='33.33%'>  
    <span class="font-white">
    <i class='fa fa-check-circle'></i>
    Receive all incentives above from circle 1 to 9 plus
    </span>
    <br>
    
      <span class="font-white">
    <i class='fa fa-check-circle'></i>
    Apple computer and iPhone 2 worth $3000
    </span>
   <img src='img/notification/gadget.png' class="img-responsive" width="260px" >
    </td> 
  
  </tr>
<!--   seventh row -->
     <td width="33.33%">
     
        <div   class="vcenter">
            <img src='img/notification/mono7.png' class="img-responsive " width="315px">
        </div>
      
    
    </td>
    <td width='33.33%'> 
     <h4 style="color:#03A9F4;font-size: large;">
        Earn $17,500
      </h4>
     <span  class="font-white">
    <i class='fa fa-check-circle'></i>
    Receive Cash $15 Circle 2
     </span><br>
    <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Receive Cash $21 Circle 3
    </span>
    <br>
    <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Receive Cash $40 Circle 4
    </span>
    <br>
    <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Receive Cash $40 Circle 5
    </span>
    <br>
    <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $60 Circle 5
    </span>
     <br>
       <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $150 Circle 6
    </span>
     <br>
       <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $424 Circle 6
    </span>
    <br>
      <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $300 Circle 7
    </span>
    <br>
      <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $450 Circle 7
    </span>
    <br>
        <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Receive Cash $500 Circle 8
    </span>
    <br>
      <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $500 Circle 8
    </span>
      <br>
      <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Receive Cash $1000 Circle 9
    </span>
      <br>
      <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Receive Cash $2000 Circle 10
    </span>
       <br>
      <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $3000 Circle 10
    </span>
    <br>
      <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Receive Cash $3000 Circle 11
    </span>
    <br>
      <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $4500 Circle 11
    </span>
    <br>
    <br>
    <span class="font-white text-large" >
    <i class='fa fa-check-circle'></i>
   Total Earnings $17,500
    </span>
    <h4 class="font-white office-pad-top" style="color: #03A9F4">Rejoin Or Upgrade to Next Level</h4>
  </td>
            
  <td width='33.33%'>  
    <span class="font-white">
    <i class='fa fa-check-circle'></i>
    Receive all incentives above from circle 1 to 10 plus
    </span>
    <br>
    
      <span class="font-white">
    <i class='fa fa-check-circle'></i>
  Building grant worth $4500 for your project development by our real estate partner
    </span>
   <img src='img/notification/house.png' class="img-responsive" width="270px" >
    </td> 
  
  </tr>
  <!-- last row -->
       <td width="33.33%">
     
        <div   class="vcenter">
            <img src='img/notification/mono8.png' class="img-responsive " width="320px">
        </div>
      
    
    </td>
    <td width='33.33%'> 
     <h4 style="color:#03A9F4;font-size: large;">
        Earn $27,500
      </h4>
     <span  class="font-white">
    <i class='fa fa-check-circle'></i>
    Receive Cash $15 Circle 2
     </span><br>
    <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Receive Cash $21 Circle 3
    </span>
    <br>
    <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Receive Cash $40 Circle 4
    </span>
    <br>
    <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Receive Cash $40 Circle 5
    </span>
    <br>
    <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $60 Circle 5
    </span>
     <br>
       <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $150 Circle 6
    </span>
     <br>
       <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $424 Circle 6
    </span>
    <br>
      <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $300 Circle 7
    </span>
    <br>
      <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $450 Circle 7
    </span>
    <br>
        <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Receive Cash $500 Circle 8
    </span>
    <br>
      <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $500 Circle 8
    </span>
      <br>
      <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Receive Cash $1000 Circle 9
    </span>
      <br>
      <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Receive Cash $2000 Circle 10
    </span>
       <br>
      <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $3000 Circle 10
    </span>
    <br>
      <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Receive Cash $3000 Circle 11
    </span>
    <br>
      <span class="font-white" >
    <i class='fa fa-check-circle'></i>
   Incentive Cash $4500 Circle 11
    </span>
      <br>
      <span class="font-white" >
    <i class='fa fa-check-circle'></i>
  No Cash Reward
    </span>
     <br>
      <span class="font-white" >
    <i class='fa fa-check-circle'></i>
  Receive a car worth $10,000
    </span>
    <br>
    <br>
    <span class="font-white text-large" >
    <i class='fa fa-check-circle'></i>
   Total Earnings $27,500
    </span>
    <h4 class="font-white office-pad-top" style="color: #03A9F4">Rejoin Or Upgrade to Next Level</h4>
  </td>
            
  <td width='33.33%'>  
    <span class="font-white">
    <i class='fa fa-check-circle'></i>
    Receive all incentives above from circle 1 to 11 plus
    </span>
    <br>
    
      <span class="font-white">
    <i class='fa fa-check-circle'></i>
  A car worth $10,000
    </span>
   <img src='img/notification/car.png' class="img-responsive" width="270px" >
    </td> 
  
  </tr>
</table>
                        </div>
                    </div>
                </div>
            </div>
     

      {{>footer}}
    </div>
  