

<body class="myContainer">
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

     {{>header}}
     <div class="breadcome-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcome-list">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="breadcomb-wp">
                                    <div class="breadcomb-icon">
                                        <i class="icon nalika-home"></i>
                                    </div>
                                    <div class="breadcomb-ctn">
                                        <h2>Profile Settings</h2>
                                    <!--    <p>Welcome to Nalika <span class="bread-ntd">Admin Template</span></p> -->
                                          <label class="label bg-green">Verified</label>
                                             <p class="font-white text-bolder hideAtBig"></p>
                                    </div>

                                </div>
                            </div>
                            <div class="input-group mg-b-pro-edt col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <span class="input-group-addon"><i class="icon nalika-search" aria-hidden="true"></i></span>
                                <input id="settingSearchInput" type="search" class="form-control" placeholder="Enter a User ID or username to find">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="breadcomb-report">
                                  <!--   <button data-toggle="tooltip" data-placement="left" title="Download Report" class="btn"><i class="icon nalika-download"></i></button> -->
                                  <!-- <p class="font-white text-bolder hideAtSmall">Add Sub Admin</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <!-- Mobile Menu end -->
<div class="single-product-tab-area mg-b-30">
            <!-- Single pro tab review Start-->
            <div class="single-pro-review-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="review-tab-pro-inner">
                              
                                        <div class="row container-fluid">
                                            <div class=" ">
                                                <h4 class="font-white">Contact Information</h4>
                                               
                                                <form action="#">
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                                <label class="font-white">Name:</label>
                                                            </div>
                                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                                <!-- <input type="email" class="form-control" placeholder="Enter Email" /> -->
                                                                <label class="font-white" id="settingNameShow">----</label>
                                                                
                                                            </div>
                                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                                <label class="font-white">Email:</label>
                                                            </div>
                                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                                <!-- <input type="email" class="form-control" placeholder="Enter Email" /> -->
                                                                <label class="font-white" id="settingEmailShow">----</label>
                                                                
                                                            </div>
                                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                                <label class="font-white">Phone:</label>
                                                            </div>
                                                     <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                        <label class="font-white" id="settingPhoneShow">----</label>
                                                                <!-- <input type="phone" class="form-control" placeholder="phone" /> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                 
                                                    <hr>
                                                    <br>
                                                    <h4 class="font-white">General Information</h4>
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                                <label class="font-white">Joining Date:</label>
                                                            </div>
                                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                                <!-- <input type="email" class="form-control" placeholder="Enter Email" /> -->
                                                                <label class="font-white" id="settingJoined">----</label>
                                                                
                                                            </div>
                                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                                <label class="font-white">Package:</label>
                                                            </div>
                                                     <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                        <label class="font-white" id="settingReferralPackage">----</label>
                                                                <!-- <input type="phone" class="form-control" placeholder="phone" /> -->
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                            <label class="font-white">Referral Link:</label>
                                                     </div>
                                                     <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                        <input style="background: inherit; color: white; padding-top: 5px; padding-bottom: 5px;" 
                                                        value="https://" id="settingReferralLink">
                                                        <style>
                                                                #copyRefLink{
                                                                    display: none;
                                                                }
                                                        </style>
                                                            </div>
                                                             <button style="width: 30%; margin:auto; margin-top: 5px;" id="copyRefLink" class="btn btn-sm btn-primary login-submit-cs">Copy Link</button>
                                                        </div>
                                                    </div>

                                                    <hr>
                                                    <br>
                                                    <h4 class="font-white">Social Profile</h4>
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
                                                                <a href="#" class="button btn-social facebook span-left"> <span><i class="fa fa-facebook"></i></span></a>
                                                            </div>
                                                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12">
                                                                <!-- <input type="email" class="form-control" placeholder="Enter Email" /> -->
                                                            
                                                                <a href="https://web.facebook.com/pfxnet?_rdc=1&_rdr" class="font-white">https://web.facebook.com/pfxnet</a>
                                                                
                                                            </div>
                                                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
                                                                <a href="#" class="button btn-social twitter span-left"> <span><i class="fa fa-twitter"></i></span>  </a>
                                                            </div>
                                                     <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12">
                                                     
                                                        <a href="https://twitter.com/pfxnet" class="font-white">https://twitter.com/pfxnet</a>
                                                                <!-- <input type="phone" class="form-control" placeholder="phone" /> -->
                                                            </div>
                                                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
                                                                <a href="#" class="button btn-social linkedin span-left"> <span><i class="fa fa-linkedin"></i></span></a>
                                                            </div>
                                                     <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12">
                                                      
                                                        <a href="https://www.linkedin.com/in/property-trading-82a6751b1/" class="font-white">https://www.linkedin.com/in/property-trading-82a6751b1/</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                              
                                                </form>
                                            </div>
                                        </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                            <div class="review-tab-pro-inner">
                              
                                        <div class="row">
                                         
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="review-content-section">
                                                    <label>First Name</label>
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="icon nalika-edit" aria-hidden="true"></i></span>
                                                        <input id="settingFirstnameEdit" type="text" class="form-control" placeholder="">
                                                    </div>
                                                    <label>Last Name</label>
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="icon nalika-edit" aria-hidden="true"></i></span>
                                                        <input id="settingLastnameEdit" type="text" class="form-control" placeholder="">
                                                    </div>
                                                     <label>Phone Number</label>
                                                      <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="icon nalika-edit" aria-hidden="true"></i></span>
                                                        <input id="settingPhoneEdit" type="text" class="form-control" placeholder="">
                                                    </div>
                                                    <label>Date Of Birth</label>
                                                      <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="icon nalika-edit" aria-hidden="true"></i></span>
                                                        <input id="settingDOBEdit" type="text" class="form-control" placeholder="">
                                                    </div>
                                                    <label>Gender</label>
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="icon nalika-edit" aria-hidden="true"></i></span>
                                                        <input id="settingGenderEdit" type="text" class="form-control" placeholder="">
                                                    </div>
                                                            <label>Bank Name</label>
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="icon nalika-edit" aria-hidden="true"></i></span>
                                                        <input id="settingBankEdit" type="text" class="form-control" placeholder="">
                                                    </div>
                                                
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="review-content-section">
                                                    <label>Address</label>
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="icon nalika-edit" aria-hidden="true"></i></span>
                                                        <input id="settingAddressEdit" type="text" class="form-control" placeholder="">
                                                    </div>
                                                    <label>Country</label>
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="icon nalika-edit" aria-hidden="true"></i></span>
                                                        <input id="settingCountryEdit" type="text" class="form-control" placeholder="">
                                                    </div>
                                                    <label>State</label>
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="icon nalika-edit" aria-hidden="true"></i></span>
                                                        <input id="settingStateEdit" type="text" class="form-control" placeholder="">
                                                    </div>
                                                    <label>City</label>
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="icon nalika-edit" aria-hidden="true"></i></span>
                                                        <input id="settingCityEdit" type="text" class="form-control" placeholder="">
                                                    </div>
                                                    <label>User ID</label>
                                                       <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="icon nalika-edit" aria-hidden="true"></i></span>
                                                        <input id="settingUserIDEdit"  style="background: inherit;" disabled type="text" class="form-control" placeholder="">
                                                    </div>
                                                                <label>Account Number</label>
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="icon nalika-edit" aria-hidden="true"></i></span>
                                                        <input id="settingAccountNumberEdit" type="text" class="form-control" placeholder="">
                                                    </div>

                                                  
                                              
                                                </div>
                                            </div>
                                            <style>
                                                #update-user {
                                                    display: none;
                                                    margin: auto;
                                                }
                                            </style>
                                            <div class="text-center custom-pro-edt-ds bottom-pad-button">
                                                <button id="update-user" type="button" class="btn btn-ctl-bt waves-effect waves-light m-r-10 bg-green" >Update
                                                    </button>
                                            
                                            </div>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {{>footer}}
    </div>
   