

<body class="myContainer">
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

     {{>header}}
            <!-- Mobile Menu end -->
       
            <!-- Mobile Menu end -->
<div class="single-product-tab-area mg-b-30">
            <!-- Single pro tab review Start-->
            <div class="single-pro-review-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="review-tab-pro-inner">
                           
                                <ul id="myTab3" class="tab-review-design">
                                    <li class="active"><a href="#description">General</a> </li>
                                    <li><a href="#reviews">Image</a></li>
                                
                                </ul>
                                <div id="myTabContent" class="tab-content custom-product-edit">
                                    <div class="product-tab-list tab-pane fade active in" id="description">
                                  
                                        <div class="row container">
                                            <div class="col-lg-3"></div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="review-content-section">
                                                    <div class="demo-container">
                                                        <div class="card-wrapper"></div>
                                                        <form class="payment-form mg-t-30 form-border-input-show text-white-label ">
                                                      
                                                            <div class="form-group">
                                                                <label for="email">Company Name</label>
                                                                <input id="company-name" name="cvc" type="text" class="form-control" placeholder="" required>
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="email">Company Email</label>
                                                                <input id="company-email" name="name" type="text" class="form-control" placeholder="" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="email">Company Phone</label>
                                                                <input id="company-phone" name="name" type="text" class="form-control" placeholder="" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="email">Address</label>
                                                              
                                                                    <textarea id="company-address" class="form-control" type='text'
                                                                    ></textarea>
                                                            </div>
                                                            <div class="text-center credit-card-custom office-pad-bottom">
                                                                <!--      <a href="#!" class="btn bg-btn-cl waves-effect waves-light btn-primary">Submit</a> -->
                                                                <button id="generalBtn" type="button" class="btn btn-success btn-block ">Update</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3"></div>
                                        </div>
                             
                                    </div>
                                    <div class="product-tab-list tab-pane fade" id="reviews">
                                        <div class="row container">
                                            <div class="col-lg-3"></div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
                                                <div class="review-content-section">
                                                    <div>
                                                        <img id="imgPreview" class="userSelfie" id="viewSelfie" style="width: 30%;"  class="editUserSelfie img-circle" src="https://www.csklegal.com/wp-content/uploads/2014/07/no-image.png" alt="" />
                                                    </div>
                                                    <label>Upload Company Logo</label>
                                              
                                                      <div class="text-center custom-pro-edt-ds office-pad-bottom">
                                                      <input id="uploadSelfieInput" type="file" class="form-control"/>
                                                      <button id="uploadLogoBtn" type="button" class="btn btn-success btn-block ">Update</button>
                                                </div>
                                            
                                                </div>
                                            </div>
                                            <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="review-content-section">
                                                    <div class="demo-container">
                                                        <div class="card-wrapper"></div>
                                                        <form class="payment-form mg-t-30 form-border-input-show text-white-label ">
                                                      
                                                            <div class="form-group">
                                                                <label for="email">Username</label>
                                                                <input name="cvc" type="text" class="form-control" placeholder="">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="email">Amount</label>
                                                                <input name="name" type="text" class="form-control" placeholder="">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="email">Reason</label>
                                                              
                                                                    <textarea class="form-control" type='text'
                                                                    ></textarea>
                                                            </div>
                                                            <div class="text-center credit-card-custom office-pad-bottom">
                                                             
                                                                <button type="button" class="btn btn-success btn-block ">Deduct</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div> -->
                                            <div class="col-lg-3"></div>
                                        </div>
                                    </div>
                                

                                       <div class="product-tab-list tab-pane fade smallPagesMinHeight" id="PASSWORD">
                                          <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="review-content-section">
                                                    <label>New Password</label>
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="icon nalika-edit" aria-hidden="true"></i></span>
                                                        <input id="password-one" type="text" class="form-control" placeholder="">
                                                    </div>
                                                      <label>Confirm New Password</label>
                                                      <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="icon nalika-edit" aria-hidden="true"></i></span>
                                                        <input id="password-two" type="text" class="form-control" placeholder="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="review-content-section">
                                                           
                                                    <label>Transaction Password</label>
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="icon nalika-edit" aria-hidden="true"></i></span>
                                                        <input id="tran-password-one" type="text" class="form-control" placeholder="">
                                                    </div>
                                                     
                                                    <label>Confirm Transaction Password</label>
                                                     <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="icon nalika-edit" aria-hidden="true"></i></span>
                                                        <input id="tran-password-two" type="text" class="form-control" placeholder="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="text-center custom-pro-edt-ds bottom-pad-button">
                                                    <button type="button" id="changePasswordBtn" class="btn btn-ctl-bt waves-effect waves-light m-r-10 bg-green ">Update
                                                        </button>
                                              
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {{>footer}}
    </div>
   